use Mix.Config

config :orwell,
  github_owner: "github-username-here",
  github_repo: "your-repo-here",
  github_post_path_prefix: "pages/posts",
  github_token: "your-token-here",
  post_base_url: "/posts"

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: System.get_env("GITHUB_CLIENT_ID") || "your-client-id",
  client_secret: System.get_env("GITHUB_CLIENT_SECRET") || "your-client-secret"
