use Mix.Config

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: System.get_env("GITHUB_CLIENT_ID") || "your-client-id",
  client_secret: System.get_env("GITHUB_CLIENT_SECRET") || "your-client-secret"

config :orwell,
  github_token: System.get_env("GITHUB_TOKEN") || "your-access-token-here"
