use Mix.Config

config :orwell,
  github_token: "your-token-here"

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: System.get_env("GITHUB_CLIENT_ID") || "your-client-id",
  client_secret: System.get_env("GITHUB_CLIENT_SECRET") || "your-client-secret"
